
        body{
            background:url(/photo/back5.jpg)no-repeat;
            background-size: contain;
            background-attachment: fixed;
            background-position:bottom;
            width:100%;
            margin: 0 auto;
            color:#5b5e61;
            
        }
        h1,h2,h3,h4{
            text-align: center;
        }
        h2{
            border-top: solid 2px  #8E9297;
            /* margin:50px 0; */
            padding: 25px 0;
            margin:0px
        }
        ul{
            padding: 0%;
        }
        header{
            width:80%;
            margin: 0 auto;
            /* flex-direction:row; */
            /* flex-wrap:wrap; */
            display:flex;
            justify-content:center;
            align-items: center
        }
        nav ul{
            width: 50%;
            margin: 0 auto;
            display:flex;
            justify-content:space-around;
        }
        main{
            /* border-top:2px solid #8E9297 ; */
            width:80%;
            margin: 0 auto;
        }
        footer{
            border-top:2px solid #8E9297 ;
            width:80%;
            margin: 0 auto;
        }
        .top{
            display:flex;
            flex-direction: row-reverse;
            margin-bottom:10px;
        }
        .mdhs{
            flex-direction:row;
            flex-wrap:wrap;
            display:flex;
            justify-content:center;
            align-items: center
        }
        .mdhs2{
            width: 400px;
            height: 580px;
            background:url(/photo/ass\ ssin\ hs.jpg);
            background-size: 400px 580px;
        }
        .mdname{
            width: 200px;
            height: 200px;
            margin-left:80px;
        }
        .hs2{
            margin:50px 0 0;
        }
        .hs{
            width: 200px;
            height: 200px;
            background:url(/photo/headshot.png);
            background-size:200px 200px;
            border-radius: 50%;
        }
        .photo{
            width:90%;
            margin:0 auto;
            flex-direction:row;
            display:flex;
            justify-content: space-around;
            /* margin: 50px 0; */
        }
        .photo img{
            width:100%;
        }
        a:hover{opacity: 0.8;}
        a{text-decoration:none;}
        a:link{color:#5b5e61;}
        a:visited{color:#5b5e61;}
        .Cooperation{
            width:60%;
            margin:0 auto;
        }
        input[type=text],input[type=email],select,textarea{width:100%;}
        input{
            border: none;
            margin:10px 0px;
            padding: 10px 0px;
            background-color:#f1f1f1 ;
            border-radius: 4px;
        }
        select{
            padding:10px 0px;
            margin:10px 0px;
            border-radius: 4px;
            background-color:#f1f1f1;
            border: none;
        }
        textarea{
            margin:10px 0px;
            height: 200px; 
            padding: 12px 20px;
            box-sizing: border-box;
            border: 2px solid #ccc;
            border-radius: 4px;
            background-color: #f8f8f8;
            resize: none;
        }
        ul li{
            list-style:none;
            margin:5px;
        }
        span{
            display:inline-block;
        }
        .fb{
            background:url(/icon/FB.png) no-repeat;
           }
        .ig{
            background:url(/icon/IG.png) no-repeat;
            }
        .ti{
            background:url(/icon/twitter.png) no-repeat;
            }
        .icon{
            margin-left:35px;
            margin-top:5px;
            }
        .fb,.ig,.ti{
            width: 30px;
            height: 30px;
            margin-top:5px;
            background-size:30px 30px;
            background-position: 0 0;
            }
        .t1{
            flex-direction:row;
            display:flex;
            justify-content:space-around;
            padding: 20px 0;
            
        }
        .t2{
            margin-top:5px;
        }
        
        
        
