.mdhs{
    flex-direction:row;
    flex-wrap:wrap;
    display:flex;
    justify-content:center;
    align-items: center
}
.mdhs2{
    width: 400px;
    height: 580px;
    background:url(/photo/ass\ ssin\ hs.jpg);
    background-size: 400px 580px;
    margin:0 0 25px 0 ;
}
.mdname{
    width: 200px;
    height: 200px;
    margin-left:80px;
}